body {
    text-align: center;
}

.flex-container {
    display: flex;
  }

.nps {
    width: 200px;
    height: 250px;
}

#AchievementsID {
    padding-bottom: 10px;
}

.head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.head i {
float: right;
}
